.text-color-default{color:hsl(0,0%,20%)}
.text-color-quiet{color:hsl(0,0%,40%)}
.text-color-quieter{color:hsl(0,0%,60%)}
.text-color-quietest{color:hsl(0,0%,80%)}
.text-color-red{color:#f82b60}
.text-color-white{color:#fff}
.understroke{padding-bottom:.14rem;border-bottom:2px solid rgba(0,0,0,0.1)}
.understroke.thick{border-width:3px}
.understroke.link:hover,.understroke.link:focus,.understroke.active,.hover-container:hover .understroke,.focus-container:focus .understroke{border-color:currentColor}
.understroke.disabled,.understroke.disabled:hover{border-color:transparent}
a.link{cursor:pointer}
.link:hover{color:hsl(0,0%,20%)}
.link-quiet:hover,.link-quiet-focusable:hover,.link-quiet-focusable:focus,.hover-container:hover .parent-hover-link-quiet{opacity:.85}
.link-quieter:hover,.link-quieter-focusable:hover,.link-quieter-focusable:focus,.hover-container:hover .parent-hover-link-quieter{opacity:.7}
.link-unquiet:hover,.link-unquiet-focusable:hover,.link-unquiet-focusable:focus,.hover-container:hover .parent-hover-link-unquiet{opacity:1}
.print-color-exact{-webkit-print-color-adjust:exact;color-adjust:exact}
.white,.white-focus:focus,.white-hover:hover{background-color:#fff}
.dark,.dark-focus:focus,.dark-hover:hover{background-color:hsl(0,0%,20%)}
.gray,.gray-focus:focus,.gray-hover:hover{background-color:#666}
.lighten1,.lighten1-focus:focus,.lighten1-hover:hover{background-color:hsla(0,0%,100%,0.05)}
.lighten2,.lighten2-focus:focus,.lighten2-hover:hover{background-color:hsla(0,0%,100%,0.1)}
.lighten3,.lighten3-focus:focus,.lighten3-hover:hover{background-color:hsla(0,0%,100%,0.25)}
.lighten4,.lighten4-focus:focus,.lighten4-hover:hover{background-color:hsla(0,0%,100%,0.5)}
.darken1,.darken1-focus:focus,.darken1-hover:hover,.darken1-active:active,.hover-container:hover .parent-hover-darken1{background-color:rgba(0,0,0,0.05)}
.darken2,.darken2-focus:focus,.darken2-hover:hover,.darken2-active:active{background-color:rgba(0,0,0,0.1)}
.darken3,.darken3-focus:focus,.darken3-hover:hover,.darken3-active:active{background-color:rgba(0,0,0,0.25)}
.darken4,.darken4-focus:focus,.darken4-hover:hover,.darken4-active:active{background-color:rgba(0,0,0,0.5)}
.stroked{box-shadow:0 0 0 2px rgba(0,0,0,0.05)}
.stroked1{box-shadow:0 0 0 2px rgba(0,0,0,0.1)}
.stroked2{box-shadow:0 0 0 2px rgba(0,0,0,0.25)}
.stroked3{box-shadow:0 0 0 2px rgba(0,0,0,0.5)}
.stroked-inset{box-shadow:inset 0 0 0 2px rgba(0,0,0,0.05)}
.stroked1-inset{box-shadow:inset 0 0 0 2px rgba(0,0,0,0.1)}
.stroked2-inset{box-shadow:inset 0 0 0 2px rgba(0,0,0,0.25)}
.text-white.stroked,.text-white .stroked{box-shadow:0 0 0 2px hsla(0,0%,100%,0.05)}
.text-white.stroked1,.text-white .stroked1{box-shadow:0 0 0 2px hsla(0,0%,100%,0.1)}
.text-white.stroked2,.text-white .stroked2{box-shadow:0 0 0 2px hsla(0,0%,100%,0.25)}
.stroked-thick{box-shadow:0 0 0 5px rgba(0,0,0,0.05)}
.stroked1-thick{box-shadow:0 0 0 5px rgba(0,0,0,0.1)}
.stroked2-thick{box-shadow:0 0 0 5px rgba(0,0,0,0.25)}
.clickable-stroked{box-shadow:0 0 0 2px transparent}
.clickable-stroked:hover,.clickable-stroked:focus,.clickable-stroked:active,.clickable-stroked.stroked1{box-shadow:0 0 0 2px rgba(0,0,0,0.1)}
.clickable-stroked-inset{box-shadow:inset 0 0 0 2px transparent}
.clickable-stroked-inset:hover,.clickable-stroked-inset:focus,.clickable-stroked-inset:active{box-shadow:inset 0 0 0 2px rgba(0,0,0,0.1)}
.clickable-stroked1{box-shadow:0 0 0 2px transparent}
.clickable-stroked1:hover,.clickable-stroked1:focus,.clickable-stroked1:active,.clickable-stroked1.stroked2{box-shadow:0 0 0 2px rgba(0,0,0,0.25)}
.clickable-stroked1-inset{box-shadow:inset 0 0 0 2px transparent}
.clickable-stroked1-inset:hover,.clickable-stroked1-inset:focus,.clickable-stroked1-inset:active{box-shadow:inset 0 0 0 2px rgba(0,0,0,0.25)}
.clickable-stroked-thick{box-shadow:0 0 0 5px transparent}
.clickable-stroked-thick:hover,.clickable-stroked-thick:focus,.clickable-stroked-thick:active{box-shadow:0 0 0 5px rgba(0,0,0,0.1)}
.clickable-stroked1-thick{box-shadow:0 0 0 5px transparent}
.clickable-stroked1-thick:hover,.clickable-stroked1-thick:focus,.clickable-stroked1-thick:active{box-shadow:0 0 0 5px rgba(0,0,0,0.25)}
.clickable-stroked1-light-thick{box-shadow:0 0 0 5px transparent}
.clickable-stroked1-light-thick:hover,.clickable-stroked1-light-thick:focus,.clickable-stroked1-light-thick:active{box-shadow:0 0 0 5px hsla(0,0%,100%,0.5)}
.clickable-stroked-thick-inset{box-shadow:inset 0 0 0 5px transparent}
.clickable-stroked-thick-inset:hover,.clickable-stroked-thick-inset:focus,.clickable-stroked-thick-inset:active{box-shadow:inset 0 0 0 5px rgba(0,0,0,0.1)}
.clickable-stroked2{box-shadow:0 0 0 2px transparent}
.clickable-stroked2:hover,.clickable-stroked2:focus,.clickable-stroked2:active,.clickable-stroked2.stroked3{box-shadow:0 0 0 2px rgba(0,0,0,0.5)}
.card-hover-darken1{box-shadow:0 0 0 5px transparent}
.card-hover-darken1:hover,.card-hover-darken1:focus,.card-hover-darken1:active{box-shadow:0 0 0 10px rgba(0,0,0,0.05)}
.card-hover-darken4{box-shadow:0 0 0 5px transparent}
.card-hover-darken4:hover,.card-hover-darken4:focus,.card-hover-darken4:active{box-shadow:0 0 0 10px rgba(0,0,0,0.5)}
.card-hover-white{box-shadow:0 0 0 5px transparent}
.card-hover-white:hover,.card-hover-white:focus,.card-hover-white:active{box-shadow:0 0 0 10px #fff}
.button-stroked{box-shadow:0 0 0 2px rgba(0,0,0,0.05)}
.button-stroked:hover,.button-stroked:focus,.button-stroked:active,.focus-container:focus .button-stroked{box-shadow:0 0 0 2px rgba(0,0,0,0.1)}
.button-stroked.stroked2{box-shadow:0 0 0 2px rgba(0,0,0,0.25)}
.button-stroked1{box-shadow:0 0 0 2px rgba(0,0,0,0.1)}
.button-stroked1:hover,.button-stroked1:focus,.button-stroked1:active,.focus-container:focus .button-stroked1{box-shadow:0 0 0 2px rgba(0,0,0,0.25)}
.border-transparent,.border-transparent-hover:hover,.border-transparent-focus:focus,.border-transparent-active:active,.focus-container:focus .parent-focus-border-transparent{border-color:transparent}
.border-lighten1,.border-lighten1-hover:hover,.border-lighten1-focus:focus,.border-lighten1-active:active,.focus-container:focus .parent-focus-border-lighten1{border-color:hsla(0,0%,100%,0.05)}
.border-lighten2,.border-lighten2-hover:hover,.border-lighten2-focus:focus,.border-lighten2-active:active,.focus-container:focus .parent-focus-border-lighten2{border-color:hsla(0,0%,100%,0.1)}
.border-lighten3,.border-lighten3-hover:hover,.border-lighten3-focus:focus,.border-lighten3-active:active,.focus-container:focus .parent-focus-border-lighten3{border-color:hsla(0,0%,100%,0.25)}
.border-lighten4,.border-lighten4-hover:hover,.border-lighten4-focus:focus,.border-lighten4-active:active,.focus-container:focus .parent-focus-border-lighten4{border-color:hsla(0,0%,100%,0.5)}
.border-darken1,.border-darken1-hover:hover,.border-darken1-focus:focus,.border-darken1-active:active,.focus-container:focus .parent-focus-border-darken1{border-color:rgba(0,0,0,0.05)}
.border-darken2,.border-darken2-hover:hover,.border-darken2-focus:focus,.border-darken2-active:active,.focus-container:focus .parent-focus-border-darken2{border-color:rgba(0,0,0,0.1)}
.border-darken3,.border-darken3-hover:hover,.border-darken3-focus:focus,.border-darken3-active:active,.focus-container:focus .parent-focus-border-darken3{border-color:rgba(0,0,0,0.25)}
.border-darken4,.border-darken4-hover:hover,.border-darken4-focus:focus,.border-darken4-active:active,.focus-container:focus .parent-focus-border-darken4{border-color:rgba(0,0,0,0.5)}
.text-darken1,a.text-darken1,.text-darken1-active:active,.text-darken1-focus:focus,.focus-container:focus .text-darken1-focus,.baymax a.text-darken1,.text-darken1 a,.baymax .text-darken1 a{color:rgba(0,0,0,0.05);fill:rgba(0,0,0,0.05)}
.text-darken1.link:hover,a.text-darken1.link:hover,.text-darken1-active:active.link:hover,.text-darken1-focus:focus.link:hover,.focus-container:focus .text-darken1-focus.link:hover,.baymax a.text-darken1.link:hover,.text-darken1 a.link:hover,.baymax .text-darken1 a.link:hover{color:rgba(0,0,0,0.05);fill:rgba(0,0,0,0.05)}
.text-darken1.understroke,a.text-darken1.understroke,.text-darken1-active:active.understroke,.text-darken1-focus:focus.understroke,.focus-container:focus .text-darken1-focus.understroke,.baymax a.text-darken1.understroke,.text-darken1 a.understroke,.baymax .text-darken1 a.understroke{border-color:rgba(0,0,0,0.05)}
.text-darken1.understroke.link:hover,a.text-darken1.understroke.link:hover,.text-darken1-active:active.understroke.link:hover,.text-darken1-focus:focus.understroke.link:hover,.focus-container:focus .text-darken1-focus.understroke.link:hover,.baymax a.text-darken1.understroke.link:hover,.text-darken1 a.understroke.link:hover,.baymax .text-darken1 a.understroke.link:hover,.text-darken1.understroke.link.active,a.text-darken1.understroke.link.active,.text-darken1-active:active.understroke.link.active,.text-darken1-focus:focus.understroke.link.active,.focus-container:focus .text-darken1-focus.understroke.link.active,.baymax a.text-darken1.understroke.link.active,.text-darken1 a.understroke.link.active,.baymax .text-darken1 a.understroke.link.active{border-color:rgba(0,0,0,0.05)}
.hover-container:hover .parent-hover-text-darken1{color:rgba(0,0,0,0.05)}
.text-darken2,a.text-darken2,.text-darken2-active:active,.text-darken2-focus:focus,.focus-container:focus .text-darken2-focus,.baymax a.text-darken2,.text-darken2 a,.baymax .text-darken2 a{color:rgba(0,0,0,0.1);fill:rgba(0,0,0,0.1)}
.text-darken2.link:hover,a.text-darken2.link:hover,.text-darken2-active:active.link:hover,.text-darken2-focus:focus.link:hover,.focus-container:focus .text-darken2-focus.link:hover,.baymax a.text-darken2.link:hover,.text-darken2 a.link:hover,.baymax .text-darken2 a.link:hover{color:rgba(0,0,0,0.1);fill:rgba(0,0,0,0.1)}
.text-darken2.understroke,a.text-darken2.understroke,.text-darken2-active:active.understroke,.text-darken2-focus:focus.understroke,.focus-container:focus .text-darken2-focus.understroke,.baymax a.text-darken2.understroke,.text-darken2 a.understroke,.baymax .text-darken2 a.understroke{border-color:rgba(0,0,0,0.1)}
.text-darken2.understroke.link:hover,a.text-darken2.understroke.link:hover,.text-darken2-active:active.understroke.link:hover,.text-darken2-focus:focus.understroke.link:hover,.focus-container:focus .text-darken2-focus.understroke.link:hover,.baymax a.text-darken2.understroke.link:hover,.text-darken2 a.understroke.link:hover,.baymax .text-darken2 a.understroke.link:hover,.text-darken2.understroke.link.active,a.text-darken2.understroke.link.active,.text-darken2-active:active.understroke.link.active,.text-darken2-focus:focus.understroke.link.active,.focus-container:focus .text-darken2-focus.understroke.link.active,.baymax a.text-darken2.understroke.link.active,.text-darken2 a.understroke.link.active,.baymax .text-darken2 a.understroke.link.active{border-color:rgba(0,0,0,0.1)}
.hover-container:hover .parent-hover-text-darken2{color:rgba(0,0,0,0.1)}
.text-darken3,a.text-darken3,.text-darken3-active:active,.text-darken3-focus:focus,.focus-container:focus .text-darken3-focus,.baymax a.text-darken3,.text-darken3 a,.baymax .text-darken3 a{color:rgba(0,0,0,0.25);fill:rgba(0,0,0,0.25)}
.text-darken3.link:hover,a.text-darken3.link:hover,.text-darken3-active:active.link:hover,.text-darken3-focus:focus.link:hover,.focus-container:focus .text-darken3-focus.link:hover,.baymax a.text-darken3.link:hover,.text-darken3 a.link:hover,.baymax .text-darken3 a.link:hover{color:rgba(0,0,0,0.25);fill:rgba(0,0,0,0.25)}
.text-darken3.understroke,a.text-darken3.understroke,.text-darken3-active:active.understroke,.text-darken3-focus:focus.understroke,.focus-container:focus .text-darken3-focus.understroke,.baymax a.text-darken3.understroke,.text-darken3 a.understroke,.baymax .text-darken3 a.understroke{border-color:rgba(0,0,0,0.25)}
.text-darken3.understroke.link:hover,a.text-darken3.understroke.link:hover,.text-darken3-active:active.understroke.link:hover,.text-darken3-focus:focus.understroke.link:hover,.focus-container:focus .text-darken3-focus.understroke.link:hover,.baymax a.text-darken3.understroke.link:hover,.text-darken3 a.understroke.link:hover,.baymax .text-darken3 a.understroke.link:hover,.text-darken3.understroke.link.active,a.text-darken3.understroke.link.active,.text-darken3-active:active.understroke.link.active,.text-darken3-focus:focus.understroke.link.active,.focus-container:focus .text-darken3-focus.understroke.link.active,.baymax a.text-darken3.understroke.link.active,.text-darken3 a.understroke.link.active,.baymax .text-darken3 a.understroke.link.active{border-color:rgba(0,0,0,0.25)}
.hover-container:hover .parent-hover-text-darken3{color:rgba(0,0,0,0.25)}
.text-darken4,a.text-darken4,.text-darken4-active:active,.text-darken4-focus:focus,.focus-container:focus .text-darken4-focus,.baymax a.text-darken4,.text-darken4 a,.baymax .text-darken4 a{color:rgba(0,0,0,0.5);fill:rgba(0,0,0,0.5)}
.text-darken4.link:hover,a.text-darken4.link:hover,.text-darken4-active:active.link:hover,.text-darken4-focus:focus.link:hover,.focus-container:focus .text-darken4-focus.link:hover,.baymax a.text-darken4.link:hover,.text-darken4 a.link:hover,.baymax .text-darken4 a.link:hover{color:rgba(0,0,0,0.5);fill:rgba(0,0,0,0.5)}
.text-darken4.understroke,a.text-darken4.understroke,.text-darken4-active:active.understroke,.text-darken4-focus:focus.understroke,.focus-container:focus .text-darken4-focus.understroke,.baymax a.text-darken4.understroke,.text-darken4 a.understroke,.baymax .text-darken4 a.understroke{border-color:rgba(0,0,0,0.5)}
.text-darken4.understroke.link:hover,a.text-darken4.understroke.link:hover,.text-darken4-active:active.understroke.link:hover,.text-darken4-focus:focus.understroke.link:hover,.focus-container:focus .text-darken4-focus.understroke.link:hover,.baymax a.text-darken4.understroke.link:hover,.text-darken4 a.understroke.link:hover,.baymax .text-darken4 a.understroke.link:hover,.text-darken4.understroke.link.active,a.text-darken4.understroke.link.active,.text-darken4-active:active.understroke.link.active,.text-darken4-focus:focus.understroke.link.active,.focus-container:focus .text-darken4-focus.understroke.link.active,.baymax a.text-darken4.understroke.link.active,.text-darken4 a.understroke.link.active,.baymax .text-darken4 a.understroke.link.active{border-color:rgba(0,0,0,0.5)}
.hover-container:hover .parent-hover-text-darken4{color:rgba(0,0,0,0.5)}
.text-lighten1,a.text-lighten1,.text-lighten1-active:active,.text-lighten1-focus:focus,.focus-container:focus .text-lighten1-focus,.baymax a.text-lighten1,.text-lighten1 a,.baymax .text-lighten1 a{color:hsla(0,0%,100%,0.05);fill:hsla(0,0%,100%,0.05)}
.text-lighten1.link:hover,a.text-lighten1.link:hover,.text-lighten1-active:active.link:hover,.text-lighten1-focus:focus.link:hover,.focus-container:focus .text-lighten1-focus.link:hover,.baymax a.text-lighten1.link:hover,.text-lighten1 a.link:hover,.baymax .text-lighten1 a.link:hover{color:hsla(0,0%,80%,0.05);fill:hsla(0,0%,80%,0.05)}
.text-lighten1.understroke,a.text-lighten1.understroke,.text-lighten1-active:active.understroke,.text-lighten1-focus:focus.understroke,.focus-container:focus .text-lighten1-focus.understroke,.baymax a.text-lighten1.understroke,.text-lighten1 a.understroke,.baymax .text-lighten1 a.understroke{border-color:hsla(0,0%,100%,0.05)}
.text-lighten1.understroke.link:hover,a.text-lighten1.understroke.link:hover,.text-lighten1-active:active.understroke.link:hover,.text-lighten1-focus:focus.understroke.link:hover,.focus-container:focus .text-lighten1-focus.understroke.link:hover,.baymax a.text-lighten1.understroke.link:hover,.text-lighten1 a.understroke.link:hover,.baymax .text-lighten1 a.understroke.link:hover,.text-lighten1.understroke.link.active,a.text-lighten1.understroke.link.active,.text-lighten1-active:active.understroke.link.active,.text-lighten1-focus:focus.understroke.link.active,.focus-container:focus .text-lighten1-focus.understroke.link.active,.baymax a.text-lighten1.understroke.link.active,.text-lighten1 a.understroke.link.active,.baymax .text-lighten1 a.understroke.link.active{border-color:hsla(0,0%,80%,0.05)}
.hover-container:hover .parent-hover-text-lighten1{color:hsla(0,0%,100%,0.05)}
.text-lighten2,a.text-lighten2,.text-lighten2-active:active,.text-lighten2-focus:focus,.focus-container:focus .text-lighten2-focus,.baymax a.text-lighten2,.text-lighten2 a,.baymax .text-lighten2 a{color:hsla(0,0%,100%,0.1);fill:hsla(0,0%,100%,0.1)}
.text-lighten2.link:hover,a.text-lighten2.link:hover,.text-lighten2-active:active.link:hover,.text-lighten2-focus:focus.link:hover,.focus-container:focus .text-lighten2-focus.link:hover,.baymax a.text-lighten2.link:hover,.text-lighten2 a.link:hover,.baymax .text-lighten2 a.link:hover{color:hsla(0,0%,80%,0.1);fill:hsla(0,0%,80%,0.1)}
.text-lighten2.understroke,a.text-lighten2.understroke,.text-lighten2-active:active.understroke,.text-lighten2-focus:focus.understroke,.focus-container:focus .text-lighten2-focus.understroke,.baymax a.text-lighten2.understroke,.text-lighten2 a.understroke,.baymax .text-lighten2 a.understroke{border-color:hsla(0,0%,100%,0.1)}
.text-lighten2.understroke.link:hover,a.text-lighten2.understroke.link:hover,.text-lighten2-active:active.understroke.link:hover,.text-lighten2-focus:focus.understroke.link:hover,.focus-container:focus .text-lighten2-focus.understroke.link:hover,.baymax a.text-lighten2.understroke.link:hover,.text-lighten2 a.understroke.link:hover,.baymax .text-lighten2 a.understroke.link:hover,.text-lighten2.understroke.link.active,a.text-lighten2.understroke.link.active,.text-lighten2-active:active.understroke.link.active,.text-lighten2-focus:focus.understroke.link.active,.focus-container:focus .text-lighten2-focus.understroke.link.active,.baymax a.text-lighten2.understroke.link.active,.text-lighten2 a.understroke.link.active,.baymax .text-lighten2 a.understroke.link.active{border-color:hsla(0,0%,80%,0.1)}
.hover-container:hover .parent-hover-text-lighten2{color:hsla(0,0%,100%,0.1)}
.text-lighten3,a.text-lighten3,.text-lighten3-active:active,.text-lighten3-focus:focus,.focus-container:focus .text-lighten3-focus,.baymax a.text-lighten3,.text-lighten3 a,.baymax .text-lighten3 a{color:hsla(0,0%,100%,0.25);fill:hsla(0,0%,100%,0.25)}
.text-lighten3.link:hover,a.text-lighten3.link:hover,.text-lighten3-active:active.link:hover,.text-lighten3-focus:focus.link:hover,.focus-container:focus .text-lighten3-focus.link:hover,.baymax a.text-lighten3.link:hover,.text-lighten3 a.link:hover,.baymax .text-lighten3 a.link:hover{color:hsla(0,0%,80%,0.25);fill:hsla(0,0%,80%,0.25)}
.text-lighten3.understroke,a.text-lighten3.understroke,.text-lighten3-active:active.understroke,.text-lighten3-focus:focus.understroke,.focus-container:focus .text-lighten3-focus.understroke,.baymax a.text-lighten3.understroke,.text-lighten3 a.understroke,.baymax .text-lighten3 a.understroke{border-color:hsla(0,0%,100%,0.25)}
.text-lighten3.understroke.link:hover,a.text-lighten3.understroke.link:hover,.text-lighten3-active:active.understroke.link:hover,.text-lighten3-focus:focus.understroke.link:hover,.focus-container:focus .text-lighten3-focus.understroke.link:hover,.baymax a.text-lighten3.understroke.link:hover,.text-lighten3 a.understroke.link:hover,.baymax .text-lighten3 a.understroke.link:hover,.text-lighten3.understroke.link.active,a.text-lighten3.understroke.link.active,.text-lighten3-active:active.understroke.link.active,.text-lighten3-focus:focus.understroke.link.active,.focus-container:focus .text-lighten3-focus.understroke.link.active,.baymax a.text-lighten3.understroke.link.active,.text-lighten3 a.understroke.link.active,.baymax .text-lighten3 a.understroke.link.active{border-color:hsla(0,0%,80%,0.25)}
.hover-container:hover .parent-hover-text-lighten3{color:hsla(0,0%,100%,0.25)}
.text-lighten4,a.text-lighten4,.text-lighten4-active:active,.text-lighten4-focus:focus,.focus-container:focus .text-lighten4-focus,.baymax a.text-lighten4,.text-lighten4 a,.baymax .text-lighten4 a{color:hsla(0,0%,100%,0.5);fill:hsla(0,0%,100%,0.5)}
.text-lighten4.link:hover,a.text-lighten4.link:hover,.text-lighten4-active:active.link:hover,.text-lighten4-focus:focus.link:hover,.focus-container:focus .text-lighten4-focus.link:hover,.baymax a.text-lighten4.link:hover,.text-lighten4 a.link:hover,.baymax .text-lighten4 a.link:hover{color:hsla(0,0%,80%,0.5);fill:hsla(0,0%,80%,0.5)}
.text-lighten4.understroke,a.text-lighten4.understroke,.text-lighten4-active:active.understroke,.text-lighten4-focus:focus.understroke,.focus-container:focus .text-lighten4-focus.understroke,.baymax a.text-lighten4.understroke,.text-lighten4 a.understroke,.baymax .text-lighten4 a.understroke{border-color:hsla(0,0%,100%,0.5)}
.text-lighten4.understroke.link:hover,a.text-lighten4.understroke.link:hover,.text-lighten4-active:active.understroke.link:hover,.text-lighten4-focus:focus.understroke.link:hover,.focus-container:focus .text-lighten4-focus.understroke.link:hover,.baymax a.text-lighten4.understroke.link:hover,.text-lighten4 a.understroke.link:hover,.baymax .text-lighten4 a.understroke.link:hover,.text-lighten4.understroke.link.active,a.text-lighten4.understroke.link.active,.text-lighten4-active:active.understroke.link.active,.text-lighten4-focus:focus.understroke.link.active,.focus-container:focus .text-lighten4-focus.understroke.link.active,.baymax a.text-lighten4.understroke.link.active,.text-lighten4 a.understroke.link.active,.baymax .text-lighten4 a.understroke.link.active{border-color:hsla(0,0%,80%,0.5)}
.hover-container:hover .parent-hover-text-lighten4{color:hsla(0,0%,100%,0.5)}
.normal{font-size:.8rem}
.small{font-size:11px}
.micro{font-size:9px}
.text-size-default{font-size:13px}
.text-size-xsmall{font-size:9px}
.text-size-small{font-size:11px}
.text-size-large{font-size:15px}
.text-decoration-none{text-decoration:none}
.thin{font-weight:300}
.font-weight-default{font-weight:400}
.font-weight-strong,.bold,.strong{font-weight:500}
.stronger{font-weight:600}
.strongest{font-weight:700}
.regular{font-weight:normal}
.italic{font-style:italic}
.caps{text-transform:uppercase;letter-spacing:.1em}
.uppercase{text-transform:uppercase}
.strikethrough{text-decoration:line-through}
.left-align{text-align:left}
.center{text-align:center}
.right-align{text-align:right}
.justify{text-align:justify}
.nowrap{white-space:nowrap}
.break-word{word-wrap:break-word}
.pre-wrap,pre.pre-wrap{white-space:pre-wrap}
.hyphens{-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto}
.tabular-nums{font-variant-numeric:tabular-nums}
.line-height-0{line-height:0}
.line-height-1{line-height:1}
.line-height-2{line-height:1.125}
.line-height-3{line-height:1.25}
.line-height-4{line-height:1.5}
.line-height-5{line-height:1.6}
.list-style-none{list-style:none}
.list-style-inherit{list-style-type:inherit}
.underline{text-decoration:underline}
.truncate{max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.truncate-block{overflow:hidden;position:relative;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;text-overflow:-o-ellipsis-lastline}
.truncate-block.line-height-1{max-height:3em}
.truncate-block.line-height-2{max-height:3.375em}
.truncate-block.line-height-3{max-height:3.75em}
.truncate-block.line-height-4{max-height:4.5em}
.truncate-block.line-height-5{max-height:4.8em}
.truncate-block-2-lines{overflow:hidden;position:relative;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;text-overflow:-o-ellipsis-lastline;-webkit-line-clamp:2}
.truncate-block-2-lines.line-height-1{max-height:3em}
.truncate-block-2-lines.line-height-2{max-height:3.375em}
.truncate-block-2-lines.line-height-3{max-height:3.75em}
.truncate-block-2-lines.line-height-4{max-height:4.5em}
.truncate-block-2-lines.line-height-5{max-height:4.8em}
.truncate-block-2-lines.line-height-3{max-height:2.5em}
.truncate-block-2-lines.line-height-4{max-height:3em}
.truncate-block-3-lines{overflow:hidden;position:relative;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;text-overflow:-o-ellipsis-lastline}
.truncate-block-3-lines.line-height-1{max-height:3em}
.truncate-block-3-lines.line-height-2{max-height:3.375em}
.truncate-block-3-lines.line-height-3{max-height:3.75em}
.truncate-block-3-lines.line-height-4{max-height:4.5em}
.truncate-block-3-lines.line-height-5{max-height:4.8em}
.truncate-block-4-lines{overflow:hidden;position:relative;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;text-overflow:-o-ellipsis-lastline;-webkit-line-clamp:4}
.truncate-block-4-lines.line-height-1{max-height:3em}
.truncate-block-4-lines.line-height-2{max-height:3.375em}
.truncate-block-4-lines.line-height-3{max-height:3.75em}
.truncate-block-4-lines.line-height-4{max-height:4.5em}
.truncate-block-4-lines.line-height-5{max-height:4.8em}
.truncate-block-5-lines{overflow:hidden;position:relative;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;text-overflow:-o-ellipsis-lastline;-webkit-line-clamp:5}
.truncate-block-5-lines.line-height-1{max-height:3em}
.truncate-block-5-lines.line-height-2{max-height:3.375em}
.truncate-block-5-lines.line-height-3{max-height:3.75em}
.truncate-block-5-lines.line-height-4{max-height:4.5em}
.truncate-block-5-lines.line-height-5{max-height:4.8em}
.truncate-block-6-lines{overflow:hidden;position:relative;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;text-overflow:-o-ellipsis-lastline;-webkit-line-clamp:6}
.truncate-block-6-lines.line-height-1{max-height:3em}
.truncate-block-6-lines.line-height-2{max-height:3.375em}
.truncate-block-6-lines.line-height-3{max-height:3.75em}
.truncate-block-6-lines.line-height-4{max-height:4.5em}
.truncate-block-6-lines.line-height-5{max-height:4.8em}
.truncate-block-7-lines{overflow:hidden;position:relative;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;text-overflow:-o-ellipsis-lastline;-webkit-line-clamp:7}
.truncate-block-7-lines.line-height-1{max-height:3em}
.truncate-block-7-lines.line-height-2{max-height:3.375em}
.truncate-block-7-lines.line-height-3{max-height:3.75em}
.truncate-block-7-lines.line-height-4{max-height:4.5em}
.truncate-block-7-lines.line-height-5{max-height:4.8em}
.truncate-block-8-lines{overflow:hidden;position:relative;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;text-overflow:-o-ellipsis-lastline;-webkit-line-clamp:8}
.truncate-block-8-lines.line-height-1{max-height:3em}
.truncate-block-8-lines.line-height-2{max-height:3.375em}
.truncate-block-8-lines.line-height-3{max-height:3.75em}
.truncate-block-8-lines.line-height-4{max-height:4.5em}
.truncate-block-8-lines.line-height-5{max-height:4.8em}
.cell .truncate-block,.cell .truncate-block-2-lines,.cell .truncate-block-3-lines,.cell .truncate-block-4-lines,.cell .truncate-block-5-lines,.cell .truncate-block-6-lines,.cell .truncate-block-7-lines,.cell .truncate-block-8-lines{max-height:none}
.huge{font-size:1rem}
h1.huge,.huge h1{font-size:2.8rem}
h2.huge,.huge h2{font-size:2rem}
h3.huge,.huge h3{font-size:1.4rem}
h4.huge,.huge h4{font-size:1.2rem}
h5.huge,.huge h5{font-size:1rem}
.big{font-size:.9rem}
h1.big,.big h1{font-size:2.25rem}
h2.big,.big h2{font-size:1.75rem}
h3.big,.big h3{font-size:1.25rem}
h4.big,.big h4{font-size:1rem}
h5.big,.big h5{font-size:.9rem}
.small{font-size:11px}
.micro{font-size:9px}
.unround{border-radius:0}
.rounded{border-radius:3px}
.rounded-right{border-top-right-radius:3px;border-bottom-right-radius:3px}
.rounded-left{border-top-left-radius:3px;border-bottom-left-radius:3px}
.rounded-top{border-top-right-radius:3px;border-top-left-radius:3px}
.rounded-bottom{border-bottom-right-radius:3px;border-bottom-left-radius:3px}
.rounded-big{border-radius:6px}
.rounded-big-right{border-top-right-radius:6px;border-bottom-right-radius:6px}
.rounded-big-left{border-top-left-radius:6px;border-bottom-left-radius:6px}
.rounded-big-top{border-top-right-radius:6px;border-top-left-radius:6px}
.rounded-big-top-left{border-top-left-radius:6px}
.rounded-big-top-right{border-top-right-radius:6px}
.rounded-big-bottom{border-bottom-right-radius:6px;border-bottom-left-radius:6px}
.rounded-big-bottom-left{border-bottom-left-radius:6px}
.rounded-big-bottom-right{border-bottom-right-radius:6px}
.rounded-huge{border-radius:14px}
.rounded-huge-right{border-top-right-radius:14px;border-bottom-right-radius:14px}
.rounded-huge-left{border-top-left-radius:14px;border-bottom-left-radius:14px}
.rounded-huge-top{border-top-right-radius:14px;border-top-left-radius:14px}
.rounded-huge-top-left{border-top-left-radius:14px}
.rounded-huge-top-right{border-top-right-radius:14px}
.rounded-huge-bottom{border-bottom-right-radius:14px;border-bottom-left-radius:14px}
.p0{padding:0}
.pt0{padding-top:0}
.pr0{padding-right:0}
.pb0{padding-bottom:0}
.pl0{padding-left:0}
.px0{padding-left:0;padding-right:0}
.py0{padding-top:0;padding-bottom:0}
.p-half{padding:.25rem}
.pt-half{padding-top:.25rem}
.pr-half{padding-right:.25rem}
.pb-half{padding-bottom:.25rem}
.pl-half{padding-left:.25rem}
.px-half{padding-left:.25rem;padding-right:.25rem}
.py-half{padding-top:.25rem;padding-bottom:.25rem}
.p1{padding:.5rem}
.pt1{padding-top:.5rem}
.pr1{padding-right:.5rem}
.pb1{padding-bottom:.5rem}
.pl1{padding-left:.5rem}
.py1{padding-top:.5rem;padding-bottom:.5rem}
.px1{padding-left:.5rem;padding-right:.5rem}
.p1-and-half{padding:.75rem}
.pt1-and-half{padding-top:.75rem}
.pr1-and-half{padding-right:.75rem}
.pb1-and-half{padding-bottom:.75rem}
.pl1-and-half{padding-left:.75rem}
.py1-and-half{padding-top:.75rem;padding-bottom:.75rem}
.px1-and-half{padding-left:.75rem;padding-right:.75rem}
.p2{padding:1rem}
.pt2{padding-top:1rem}
.pr2{padding-right:1rem}
.pb2{padding-bottom:1rem}
.pl2{padding-left:1rem}
.py2{padding-top:1rem;padding-bottom:1rem}
.px2{padding-left:1rem;padding-right:1rem}
.p3{padding:2rem}
.pt3{padding-top:2rem}
.pr3{padding-right:2rem}
.pb3{padding-bottom:2rem}
.pl3{padding-left:2rem}
.py3{padding-top:2rem;padding-bottom:2rem}
.px3{padding-left:2rem;padding-right:2rem}
.p4{padding:4rem}
.pt4{padding-top:4rem}
.pr4{padding-right:4rem}
.pb4{padding-bottom:4rem}
.pl4{padding-left:4rem}
.py4{padding-top:4rem;padding-bottom:4rem}
.px4{padding-left:4rem;padding-right:4rem}
.p5{padding:8rem}
.pt5{padding-top:8rem}
.pr5{padding-right:8rem}
.pb5{padding-bottom:8rem}
.pl5{padding-left:8rem}
.py5{padding-top:8rem;padding-bottom:8rem}
.px5{padding-left:8rem;padding-right:8rem}
.m0{margin:0}
.mt0{margin-top:0}
.mr0{margin-right:0}
.mb0{margin-bottom:0}
.ml0{margin-left:0}
.mx0{margin-left:0;margin-right:0}
.my0{margin-top:0;margin-bottom:0}
.m-half{margin:.25rem}
.mt-half{margin-top:.25rem}
.mtn-half{margin-top:-0.25rem}
.mr-half{margin-right:.25rem}
.mb-half{margin-bottom:.25rem}
.mbn-half{margin-bottom:-0.25rem}
.ml-half{margin-left:.25rem}
.mx-half{margin-left:.25rem;margin-right:.25rem}
.my-half{margin-top:.25rem;margin-bottom:.25rem}
.m1{margin:.5rem}
.mt1{margin-top:.5rem}
.mr1{margin-right:.5rem}
.mb1{margin-bottom:.5rem}
.ml1{margin-left:.5rem}
.mx1{margin-left:.5rem;margin-right:.5rem}
.my1{margin-top:.5rem;margin-bottom:.5rem}
.m1-and-half{margin:.75rem}
.mt1-and-half{margin-top:.75rem}
.mr1-and-half{margin-right:.75rem}
.mb1-and-half{margin-bottom:.75rem}
.ml1-and-half{margin-left:.75rem}
.mx1-and-half{margin-left:.75rem;margin-right:.75rem}
.my1-and-half{margin-top:.75rem;margin-bottom:.75rem}
.m2{margin:1rem}
.mt2{margin-top:1rem}
.mr2{margin-right:1rem}
.mb2{margin-bottom:1rem}
.ml2{margin-left:1rem}
.mx2{margin-left:1rem;margin-right:1rem}
.my2{margin-top:1rem;margin-bottom:1rem}
.m3{margin:2rem}
.mt3{margin-top:2rem}
.mr3{margin-right:2rem}
.mb3{margin-bottom:2rem}
.ml3{margin-left:2rem}
.mx3{margin-left:2rem;margin-right:2rem}
.my3{margin-top:2rem;margin-bottom:2rem}
.m4{margin:4rem}
.mt4{margin-top:4rem}
.mr4{margin-right:4rem}
.mb4{margin-bottom:4rem}
.ml4{margin-left:4rem}
.mx4{margin-left:4rem;margin-right:4rem}
.my4{margin-top:4rem;margin-bottom:4rem}
.m5{margin:8rem}
.mt5{margin-top:8rem}
.mr5{margin-right:8rem}
.mb5{margin-bottom:8rem}
.ml5{margin-left:8rem}
.mx5{margin-left:8rem;margin-right:8rem}
.my5{margin-top:8rem;margin-bottom:8rem}
.mln1{margin-left:-0.5rem}
.mln2{margin-left:-1rem}
.mln3{margin-left:-2rem}
.mln4{margin-left:-4rem}
.mln5{margin-left:-8rem}
.mrn1{margin-right:-0.5rem}
.mrn2{margin-right:-1rem}
.mrn3{margin-right:-2rem}
.mrn4{margin-right:-4rem}
.mrn5{margin-right:-8rem}
.mtn1{margin-top:-0.5rem}
.mtn2{margin-top:-1rem}
.mtn3{margin-top:-2rem}
.mtn4{margin-top:-4rem}
.mtn5{margin-top:-8rem}
.mbn1{margin-bottom:-0.5rem}
.mbn2{margin-bottom:-1rem}
.mbn3{margin-bottom:-2rem}
.mbn4{margin-bottom:-4rem}
.mbn5{margin-bottom:-8rem}
.mxn1{margin-left:-0.5rem;margin-right:-0.5rem}
.mxn2{margin-left:-1rem;margin-right:-1rem}
.mxn3{margin-left:-2rem;margin-right:-2rem}
.mxn4{margin-left:-4rem;margin-right:-4rem}
.mxn5{margin-left:-8rem;margin-right:-8rem}
.myn1{margin-top:-0.5rem;margin-bottom:-0.5rem}
.myn2{margin-top:-1rem;margin-bottom:-1rem}
.myn3{margin-top:-2rem;margin-bottom:-2rem}
.myn4{margin-top:-4rem;margin-bottom:-4rem}
.myn5{margin-top:-8rem;margin-bottom:-8rem}
.mt-auto{margin-top:auto}
.md-auto{margin-bottom:auto}
.ml-auto{margin-left:auto}
.mr-auto{margin-right:auto}
.mx-auto{margin-left:auto;margin-right:auto}
.hidden{display:none !important}
.hidden,.template{display:none !important}
.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.flex-inline{display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex}
.flex-column{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.flex-wrap{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.flex-auto{-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;min-width:0;min-height:0}
.flex-none{-webkit-box-flex:0;-webkit-flex:none;-ms-flex:none;flex:none}
.flex-reverse{-webkit-flex-direction:row-reverse;flex-direction:row-reverse}
.flex-column-reverse{-webkit-flex-direction:column-reverse;flex-direction:column-reverse}
.items-start{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;-ms-grid-row-align:flex-start;align-items:flex-start}
.items-end{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;-ms-grid-row-align:flex-end;align-items:flex-end}
.items-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center}
.items-baseline{-webkit-box-align:baseline;-webkit-align-items:baseline;-ms-flex-align:baseline;-ms-grid-row-align:baseline;align-items:baseline}
.items-stretch{-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;-ms-grid-row-align:stretch;align-items:stretch}
.self-start{-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start}
.self-end{-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end}
.self-center{-webkit-align-self:center;-ms-flex-item-align:center;align-self:center}
.self-baseline{-webkit-align-self:baseline;-ms-flex-item-align:baseline;align-self:baseline}
.self-stretch{-webkit-align-self:stretch;-ms-flex-item-align:stretch;align-self:stretch}
.justify-start{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}
.justify-end{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}
.justify-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.justify-between{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.justify-around{-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}
.content-start{-webkit-align-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start}
.content-end{-webkit-align-content:flex-end;-ms-flex-line-pack:end;align-content:flex-end}
.content-center{-webkit-align-content:center;-ms-flex-line-pack:center;align-content:center}
.content-between{-webkit-align-content:space-between;-ms-flex-line-pack:justify;align-content:space-between}
.content-around{-webkit-align-content:space-around;-ms-flex-line-pack:distribute;align-content:space-around}
.content-stretch{-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch}
.order-0{-webkit-box-ordinal-group:1;-webkit-order:0;-ms-flex-order:0;order:0}
.order-1{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}
.order-2{-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2}
.order-3{-webkit-box-ordinal-group:4;-webkit-order:3;-ms-flex-order:3;order:3}
.order-last{-webkit-box-ordinal-group:100000;-webkit-order:99999;-ms-flex-order:99999;order:99999}
.shrink-none{-ms-flex-negative:0;flex-shrink:0}
.animate{transition:.085s all ease-in}
.animate-slow{transition:.25s all ease-in}
.animate-slower{transition:.4s all ease-in}
.animate-ease-in-out{transition-timing-function:ease-in-out}
.animate-infinite{animation-iteration-count:infinite}
.animate-background-color{transition:.085s background-color ease-in}
.animate-spin-scale{animation-name:spinScale;animation-duration:1800ms;animation-timing-function:cubic-bezier(.785, .135, .15, .86)}
.animate-bounce-in{animation-name:bounceIn;animation-duration:240ms}
.animate-bounce-in-loud{animation-name:bounceInLoud;animation-duration:240ms}
.animate-opacity-fade-in{animation-name:opacityFadeIn;animation-duration:400ms}
.animate-delayed-opacity-fade-in{opacity:0;animation-name:opacityFadeIn;animation-duration:200ms;animation-delay:800ms;animation-fill-mode:forwards;animation-iteration-count:1}
.animate-fade-up-in{animation-name:fadeUpIn;animation-duration:500ms;animation-timing-function:ease-in-out}
.animate-spin-slow{animation-name:spin;animation-duration:40s;animation-timing-function:linear}
.animate-highlight{animation-name:highlight;animation-duration:800ms}
.animate-spin-slow-reverse{animation-name:spin;animation-duration:40s;animation-timing-function:linear;animation-name:spinReverse}
.animate-progress{animation-timing-function:linear;animation-name:progress}
.animate-pulse-blue{animation-name:pulseBlue;animation-timing-function:cubic-bezier(0, .42, .26, .96);animation-duration:1.5s;animation-iteration-count:infinite}
.animate-pulse-white{animation-name:pulseWhite;animation-timing-function:cubic-bezier(0, .42, .26, .96);animation-duration:1.5s;animation-iteration-count:infinite}
.animate-pulse-dark{animation-name:pulseDark;animation-timing-function:cubic-bezier(0, .42, .26, .96);animation-duration:1.5s;animation-iteration-count:infinite}
.animate-sway-horizontal{animation-name:swayHorizontal;animation-timing-function:ease-in-out;animation-duration:2s;animation-iteration-count:infinite}
@keyframes progress{0%{width:0%}
100%{width:100%}
}
@keyframes spinScale{0%{transform:rotate(0) scale(1)}
50%{transform:rotate(360deg) scale(.9)}
100%{transform:rotate(720deg) scale(1)}
}
@keyframes swayHorizontal{0%{transform:translateX(-3%)}
60%{transform:translateX(3%)}
100%{transform:translateX(-3%)}
}
@keyframes spin{from{transform:rotate(0deg)}
to{transform:rotate(360deg)}
}
@keyframes spinReverse{from{transform:rotate(0deg)}
to{transform:rotate(-360deg)}
}
@keyframes highlight{from{background-color:#d0f0fd;border-radius:20px;box-shadow:0 0 0 20px #d0f0fd}
to{background-color:rgba(255,255,255,0);border-radius:20px;box-shadow:0 0 0 20px rgba(255,255,255,0)}
}
@keyframes spacey{from{-webkit-transform:translateX(0);transform:translateX(0)}
to{-webkit-transform:translateX(-2560px);transform:translateX(-2560px)}
}
@keyframes bounceIn{from,50%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}
0%{opacity:.9;-webkit-transform:scale3d(.98, .98, .98);transform:scale3d(.98, .98, .98)}
70%{opacity:1;-webkit-transform:scale3d(1.01, 1.01, 1.01);transform:scale3d(1.01, 1.01, 1.01)}
to{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1)}
}
@keyframes bounceIn{from,50%,to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}
0%{opacity:.9;-webkit-transform:scale3d(.98, .98, .98);transform:scale3d(.98, .98, .98)}
70%{opacity:1;-webkit-transform:scale3d(1.03, 1.03, 1.03);transform:scale3d(1.03, 1.03, 1.03)}
to{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1)}
}
@keyframes opacityFadeIn{from{opacity:0}
to{opacity:1}
}
@keyframes opacityFadeOut{from{opacity:1}
to{opacity:0}
}
@keyframes fadeUpIn{from{opacity:0;transform:translate(0, -4px)}
to{opacity:1;transform:translate(0, 0)}
}
@keyframes pulseBlue{0%{box-shadow:0 0 0 4px #2d7ff9}
40%{box-shadow:0 0 0 8px #2d7ff9}
100%{box-shadow:0 0 0 4px #2d7ff9}
}
@keyframes pulseWhite{0%{box-shadow:0 0 0 4px rgba(255,255,255,0.7)}
40%{box-shadow:0 0 0 8px rgba(255,255,255,0.8)}
100%{box-shadow:0 0 0 4px rgba(255,255,255,0.7)}
}
@keyframes pulseDark{0%{box-shadow:0 0 0 4px rgba(0,0,0,0.5)}
40%{box-shadow:0 0 0 8px rgba(0,0,0,0.6)}
100%{box-shadow:0 0 0 4px rgba(0,0,0,0.5)}
}
.cursor-pointer,.pointer{cursor:pointer}
.cursor-text{cursor:text}
.cursor-default{cursor:default}
.cursor-grab{cursor:grab;cursor:-webkit-grab;cursor:-moz-grab}
.cursor-grabbing{cursor:grabbing;cursor:-moz-grabbing;cursor:-webkit-grabbing}
.cursor-col-resize{cursor:col-resize}
.cursor-row-resize{cursor:row-resize}
.border{border-style:solid;border-width:1px}
.border-thick{border-style:solid;border-width:2px}
.border-thick1{border-style:solid;border-width:3px}
.border-thick2{border-style:solid;border-width:5px}
.border-top{border-top-style:solid;border-top-width:1px}
.border-top-thick{border-top-style:solid;border-top-width:2px}
.border-top-thick1{border-top-style:solid;border-top-width:3px}
.border-right{border-right-style:solid;border-right-width:1px}
.border-right-thick{border-right-style:solid;border-right-width:2px}
.border-right-thick1{border-right-style:solid;border-right-width:3px}
.border-bottom{border-bottom-style:solid;border-bottom-width:1px}
.border-bottom-thick{border-bottom-style:solid;border-bottom-width:2px}
.border-bottom-thick1{border-bottom-style:solid;border-bottom-width:3px}
.border-left{border-left-style:solid;border-left-width:1px}
.border-left-thick{border-left-style:solid;border-left-width:2px}
.border-left-thick1{border-left-style:solid;border-left-width:3px}
.border-none{border:0}
.border-transparent{border-color:transparent}
.border-dashed{border-style:dashed}
.border-dotted{border-style:dotted}
.inline{display:inline}
.block{display:block}
.inline-block{display:inline-block}
.table{display:table}
.table-cell{display:table-cell}
.overflow-hidden{overflow:hidden}
.overflow-scroll{overflow:scroll;-webkit-overflow-scrolling:touch}
.overflowy-scroll{overflow-y:scroll;-webkit-overflow-scrolling:touch}
.overflowx-scroll{overflow-x:scroll;-webkit-overflow-scrolling:touch}
.overflow-auto{overflow:auto}
.overflow-visible{overflow:visible}
.clearfix:before,.clearfix:after{content:' ';display:table}
.clearfix:after{clear:both}
.left{float:left}
.right{float:right}
.fit{max-width:100%}
.border-box{box-sizing:border-box}
.content-box{box-sizing:content-box}
.align-baseline{vertical-align:baseline}
.align-top{vertical-align:top}
.align-middle{vertical-align:middle}
.align-bottom{vertical-align:bottom}
.relative{position:relative}
.absolute{position:absolute}
.fixed{position:fixed}
.static{position:static}
.top-0{top:0}
.right-0{right:0}
.bottom-0{bottom:0}
.left-0{left:0}
.all-0{top:0;left:0;right:0;bottom:0}
.z1{z-index:1}
.z2{z-index:2}
.z3{z-index:3}
.z4{z-index:4}
.circle{border-radius:50%}
.pill{border-radius:9999px}
.max-width-1{max-width:24rem}
.max-width-2{max-width:32rem}
.max-width-3{max-width:48rem}
.max-width-4{max-width:72rem}
.hover-underline:hover{text-decoration:underline}
.quiet{opacity:.75}
.quieter{opacity:.5}
.quietest{opacity:.25}
.noevents{pointer-events:none}
.noevents .events,.child-events>*,.events{pointer-events:all}
.no-user-select{user-select:none}
.no-highlight{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.aspect-scale{max-width:100%;width:100%;height:auto}
.aspect-scale-height{max-width:auto;height:100%;width:auto}
input.small{font-size:12px}
.height-fill{min-height:100vh}
